.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.map-container {
  width: 70vw;
}

.sidebar-container {
  width: 30vw;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .map-container {
    width: 100vw;
    height: 70vh;
  }

  .sidebar-container {
    flex-basis: auto;
    order: 0;
    width: 100vw;
  }
}