<div class="sidebar">
    <div class="sidebar-header">
        <p>My waypoints</p>
    </div>

    <div class="sidebar-list">
        <div class="list-wrapper">
            <mat-accordion *ngFor="let location of locations">
                <mat-expansion-panel class="list-item">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ location.name.common }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aliquam molestias perspiciatis
                        sapiente dicta architecto ullam, in labore veritatis, nesciunt ea accusantium quae expedita
                        adipisci possimus rerum molestiae commodi id.</p>
                    <mat-action-row>
                        <button mat-raised-button color="accent" (click)="onFocusLocation(location)">FOCUS</button>
                        <button mat-raised-button color="accent" (click)="onDeleteLocation(location)">DELETE</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>